
.links:hover{
    background-color: #555c63;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-border{
    border: 2px solid black;
    border-radius: 25em;
    padding-left: 10px;
    padding-right: 10px;
}

.button-menu{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    margin: 20px;
    z-index: 99999;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: 3px 3px #555c63;
}