<%- include("template/header.ejs") %>
  <div class="p-5 mt-4 mb-4 bg-light rounded-3">
    <div class="container-fluid text-wrap py-5 row">
      <div class="col-8">
        <h1 class="display-5 fw-bold">About</h1>
        <p class="col-md-9 fs-4">I’m a passionate DevOPS, Java back-end developer with extensive experience in crafting
          robust server-side applications. My expertise extends to full-stack development, where I skillfully use CSS,
          HTML, and JavaScript to build seamless and interactive user interfaces. With a deep understanding of various
          technologies, I bring both frontend and backend skills to the table, ensuring a cohesive and efficient
          development process. I thrive on solving complex problems and optimizing performance to deliver high-quality,
          scalable solutions. My commitment to continuous learning keeps me at the forefront of technological
          advancements, driving innovation in every project I tackle.</p>
      </div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <img src="images/about-cs-image.jpg" class="rounded float-start " height="400px" width="600px" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="pb-2 border-bottom row justify-content-center fs-1">Skills</h2>
    <div class="row justify-content-center">
      <div class="col">
        <h3 class="fs-2 d-flex justify-content-center">Back-end</h3>
        <ul class="row align-items-start fs-4">
          <div class="col-6 p-3">
            <li>Java</li>
            <li>JavaScript</li>
            <li>PostgreSQL</li>
            <li>MySQL</li>
            <li>MongoDB</li>
          </div>
          <div class="col-6 p-3">
            <li>Hibernate</li>
            <li>SpringBoot</li>
            <li>Angular</li>
            <li>Express</li>
            <li>EJS</li>
          </div>
        </ul>
      </div>
      <div class="col">
        <h3 class="fs-2 d-flex justify-content-center">Front-end</h3>
        <ul class="row align-items-start fs-4">
          <div class="col-6 p-4">
            <li>HTML</li>
            <li>CSS</li>
            <li>Sass</li>
            <li>Less</li>
            <li>Redux</li>
          </div>
          <div class="col-6 p-4">
            <li>Bootstrap</li>
            <li>Material-UI</li>
            <li>Foundation</li>
            <li>Webpack</li>
            <li>Parcel</li>
          </div>
      </div>
    </div>
  </div>
  <%- include("template/footer.ejs") %>